.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: whitesmoke;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  align-items: center;
}

.inputButton {
  margin-left: -50px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
