<mat-grid-list cols="10" rowHeight="180px">
  <mat-grid-tile
    *ngFor="let card of cards | async"
    [colspan]="card.cols"
    [rowspan]="card.rows"
  >
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
        <div *ngIf="card.title !== 'User info'; else info" class="content">
          <h1>{{ card.value }}</h1>
          <div *ngIf="card.title != 'User info' && card.title != 'Repo List'">
            <h2>{{ card.title }}</h2>
          </div>
          <mat-icon class="icon">{{ card.icon }}</mat-icon>
        </div>

        <ng-template #info>
          <div style="margin: 5%">
            <img
              mat-card-avatar
              class="example-header-image"
              [src]="card.value.img_url"
            />
            <div style="display: flex; flex-direction: column">
              <mat-card-title>{{
                card.value.name || "@" + card.value.login
              }}</mat-card-title>
              <mat-card-subtitle style="font-size: 16px; padding-top: 5px">{{
                card.value.location
              }}</mat-card-subtitle>
            </div>
            <mat-card-content>
              <p style="padding: 2%; font-size: 18px">
                {{ card.value.bio }}
              </p>
            </mat-card-content>
            <mat-card-actions style="margin: 5px"> </mat-card-actions>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="10" [rowspan]="1" *ngIf="repos.length > 0">
    <mat-card class="dashboard-card">
      <div style="flex-direction: row; margin-top: 25px; margin-left: 40px">
        <app-search (search)="searchThis($event)"></app-search>
      </div>
    </mat-card>
  </mat-grid-tile>
  <div *ngIf="repos.length > 0">
    <mat-grid-tile
      *ngFor="let item of activePageDataChunk"
      [colspan]="screenType === 1 ? 5 : 2"
      [rowspan]="2"
    >
      <mat-card class="dashboard-card">
        <div
          style="
            justify-content: center;
            align-items: center;
            margin: auto;
            text-align: center;
            margin-top: 45px;
          "
        >
          <h1>{{ item.name }}</h1>
          <h3 style="color: darkblue">{{ item.language || "Unknow" }}</h3>
          <p>
            Watchers: <b>{{ item.watchers }}</b>
          </p>
          <p>
            Forks: <b>{{ item.forks }}</b>
          </p>
          <mat-card-actions>
            <button mat-icon-button (click)="redirectTo(item.html_url)">
              <mat-icon class="icon">launch</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="icon">content_copy</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<mat-paginator
  *ngIf="repos.length > 0"
  [length]="content.length"
  [pageSize]="pageSize"
  (page)="onPageChanged($event)"
>
</mat-paginator>
