.searchBar {
  padding: 6px;
  border: none;
  width: 40vw;
  border-radius: 15px;
  font-size: 17px;
  padding-left: 30px;
}

.searchBar:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
